@use '../abstracts/mixins' as mxn;

.sign-up-form {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	@include mxn.mq(small) {
		flex-direction: row;
		gap: 2.8rem;
	}

	&__input {
		flex: 1;
		padding: 1.25em 3em;
		font-size: var(--fz-225);
		color: var(--clr-primary-700);
		border: none;
		border-radius: var(--borr-900);
	}
}
