@use '../abstracts/mixins' as mxn;

.sign-up-form {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	@include mxn.mq(small) {
		flex-direction: row;
		gap: 2.8rem;
	}
	&__input-box {
		position: relative;
		flex: 1;
	}

	&__input {
		width: 100%;
		padding: 1.25em 3em;
		font-size: var(--fz-225);
		color: var(--clr-primary-700);
		border: none;
		border-radius: var(--borr-900);
	}

	&__error {
		display: none;
		position: absolute;
		margin-top: 0.5rem;
		margin-left: 3em;
		font-size: var(--fz-225);
		font-weight: var(--fw-700);
		color: var(--clr-accent-200);

		&.visible {
			display: block;
		}
	}
}
