@use '../abstracts/mixins' as mxn;

.features-grid {
	display: grid;
	justify-content: center;
	gap: 8rem;

	@include mxn.mq(small) {
		grid-template-columns: repeat(2, 1fr);

		/* elements on the right aligned to the right side */
		& > *:nth-child(2n) {
			justify-self: end;
		}

		/* elements on the left aligned to the left side */
		& > *:nth-child(2n + 1) {
			justify-self: start;
		}
	}
}

.testimonials-grid {
	display: grid;
	gap: 2.4rem;
	@include mxn.mq(medium) {
		grid-template-columns: repeat(3, 1fr);
		gap: 4rem;
	}
}

.footer-grid {
	display: grid;
	gap: 5.6rem;
	@include mxn.mq(medium) {
		grid-template-columns: 1fr 0.5fr 0.25fr;
	}
}

.address-grid {
	display: grid;
	gap: 1.6rem;
	@include mxn.mq(small) {
		grid-template-columns: 1fr 0.5fr;
		align-items: start;
	}
	@include mxn.mq(medium) {
		grid-template-columns: 1fr;
	}
	@include mxn.mq(large) {
		grid-template-columns: 1fr 0.5fr;
		gap: 8rem;
	}

	&__inner {
		display: grid;
		gap: 1.6rem;
	}
}
